<h2>Lista osób</h2>

<button routerLink="/add">Dodaj nową osobę</button>

<div *ngIf="persons.length === 0">
  <p>Brak zapisanych osób. Dodaj nowy wpis.</p>
</div>

<ul *ngIf="persons.length > 0">
  @for (p of persons; track $index; let i = $index) {
    <li>
      <strong>{{ p.firstName }} {{ p.familyName }}</strong>,
      wiek: {{ p.age || 'brak' }},
      miasto: {{ p.address?.city || 'brak' }}
      |
      <!-- przejście do /details/:id -->
      <a [routerLink]="['/details', i]">Szczegóły</a>
      |
      <!-- usuwanie wskazanego indeksem elementu -->
      <a (click)="delete(i)" class="delete-link">Usuń</a>

    </li>
  }
</ul>
